In [1]:
import numpy as np
import pandas as pd
filename = r'D:\Project\Python\VS-Code-Python\PandasLearning\JobDataAnalysis\JobData.csv'
data = pd.read_csv(filename)

In [2]:
data.head(5)

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,workYear
0,上海,纽海信息技术(上海)有限公司,8581,"['技能培训', '节日礼物', '带薪年假', '岗位晋升']",1号店,2000人以上,['张江'],技术,数据开发,硕士,移动互联网,2537336,知名平台,数据分析师,"['分析师', '数据分析', '数据挖掘', '数据']",7k-9k,应届毕业生
1,上海,上海点荣金融信息服务有限责任公司,23177,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,数据开发,本科,金融,2427485,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,应届毕业生
2,上海,上海晶樵网络信息技术有限公司,57561,"['技能培训', '绩效奖金', '岗位晋升', '管理规范']",SPD,50-150人,['打浦桥'],设计,数据分析,本科,移动互联网,2511252,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,应届毕业生
3,上海,杭州数云信息技术有限公司上海分公司,7502,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,"企业服务,数据服务",2427530,五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,应届毕业生
4,上海,上海银基富力信息技术有限公司,130876,"['年底双薪', '通讯津贴', '定期体检', '绩效奖金']",银基富力,15-50人,"['上海影城', '新华路', '虹桥']",技术,软件开发,本科,其他,2245819,在大牛下指导,BI开发/数据分析师,"['分析师', '数据分析', '数据', 'BI']",2k-3k,应届毕业生

In [5]:
data.tail(5)

,city,companyFullName,companyId,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,workYear
6871,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2469682,高薪双休五险一金时间自由朝九晚五,金融证券分析师&nbsp;&nbsp;助理,"['分析师', '金融', '证券']",10K-20K,不限
6872,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,产品/需求/项目类,项目管理,大专,金融、教育,2469686,高薪五险一金双休朝九晚五带薪年假20天,金融证券分析师&nbsp;可培训,"['项目管理', '专员', '助理', '实习生', '风控', '采购', '分析师',...",15K-30K,不限
6873,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,其他,房地产|建筑业,大专,金融、教育,2470949,高薪五险一金双休朝九晚五无加班可培训,金融证券分析师&nbsp;讲师&nbsp;助理,"['分析师', '职业培训', '教育', '培训', '金融', '证券', '股票', ...",15K-30K,不限
6874,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2465839,高薪&nbsp;无加班&nbsp;&nbsp;双休&nbsp;&nbsp;五险一金&nbsp;,金融证券分析师助理讲师助理,"['实习生', '主管', '经理', '顾问', '销售', '客户代表', '分析师',...",10K-20K,不限
6875,北京,北京亿盛融华投资管理有限公司,151898,NaN,亿盛资本,150-500人,NaN,金融类,风控,不限,金融、教育,2471674,挑战高薪，挑战自我,1W五险双休诚聘金融分析师助理可兼职,"['分析师', '金融']",8K-15K,不限

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6876 entries, 0 to 6875
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               6876 non-null   object
 1   companyFullName    6876 non-null   object
 2   companyId          6876 non-null   int64
 3   companyLabelList   6170 non-null   object
 4   companyShortName   6876 non-null   object
 5   companySize        6876 non-null   object
 6   businessZones      4873 non-null   object
 7   firstType          6869 non-null   object
 8   secondType         6870 non-null   object
 9   education          6876 non-null   object
 10  industryField      6876 non-null   object
 11  positionId         6876 non-null   int64
 12  positionAdvantage  6876 non-null   object
 13  positionName       6876 non-null   object
 14  positionLables     6844 non-null   object
 15  salary             6876 non-null   object
 16  workYear           6876 non-null   object
dtypes: int64(2), object(15)
memory usage: 913.3+ KB