In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
filename = r"D:\repo\PythonLearning\PandasLearning\Data\AGG-20150407.csv"
data = pd.read_csv(filename)

In [3]:
data.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,134,135,136,137,138,139,140,141,142,143
0,startTime,2015-04-07 00:00:00,2015-04-07 00:10:00,2015-04-07 00:20:00,2015-04-07 00:30:00,2015-04-07 00:40:00,2015-04-07 00:50:00,2015-04-07 01:00:00,2015-04-07 01:10:00,2015-04-07 01:20:00,...,2015-04-07 22:20:00,2015-04-07 22:30:00,2015-04-07 22:40:00,2015-04-07 22:50:00,2015-04-07 23:00:00,2015-04-07 23:10:00,2015-04-07 23:20:00,2015-04-07 23:30:00,2015-04-07 23:40:00,2015-04-07 23:50:00
1,endTime,2015-04-07 00:10:00,2015-04-07 00:20:00,2015-04-07 00:30:00,2015-04-07 00:40:00,2015-04-07 00:50:00,2015-04-07 01:00:00,2015-04-07 01:10:00,2015-04-07 01:20:00,2015-04-07 01:30:00,...,2015-04-07 22:30:00,2015-04-07 22:40:00,2015-04-07 22:50:00,2015-04-07 23:00:00,2015-04-07 23:10:00,2015-04-07 23:20:00,2015-04-07 23:30:00,2015-04-07 23:40:00,2015-04-07 23:50:00,2015-04-08 00:00:00
2,111_in,0,0,0,0,0,0,0,0,0,...,32,1,0,1,1,1,0,0,0,0
3,111_out,69,67,0,0,0,0,0,0,0,...,284,393,312,274,156,107,86,38,0,0
4,112_in,0,0,0,0,0,0,0,0,0,...,1,2,1,1,0,0,2,0,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628 entries, 0 to 627
Columns: 145 entries, Unnamed: 0 to 143
dtypes: object(145)
memory usage: 711.5+ KB

In [5]:
data=data.set_index('Unnamed: 0')
data

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
startTime,2015-04-07 00:00:00,2015-04-07 00:10:00,2015-04-07 00:20:00,2015-04-07 00:30:00,2015-04-07 00:40:00,2015-04-07 00:50:00,2015-04-07 01:00:00,2015-04-07 01:10:00,2015-04-07 01:20:00,2015-04-07 01:30:00,...,2015-04-07 22:20:00,2015-04-07 22:30:00,2015-04-07 22:40:00,2015-04-07 22:50:00,2015-04-07 23:00:00,2015-04-07 23:10:00,2015-04-07 23:20:00,2015-04-07 23:30:00,2015-04-07 23:40:00,2015-04-07 23:50:00
endTime,2015-04-07 00:10:00,2015-04-07 00:20:00,2015-04-07 00:30:00,2015-04-07 00:40:00,2015-04-07 00:50:00,2015-04-07 01:00:00,2015-04-07 01:10:00,2015-04-07 01:20:00,2015-04-07 01:30:00,2015-04-07 01:40:00,...,2015-04-07 22:30:00,2015-04-07 22:40:00,2015-04-07 22:50:00,2015-04-07 23:00:00,2015-04-07 23:10:00,2015-04-07 23:20:00,2015-04-07 23:30:00,2015-04-07 23:40:00,2015-04-07 23:50:00,2015-04-08 00:00:00
111_in,0,0,0,0,0,0,0,0,0,0,...,32,1,0,1,1,1,0,0,0,0
111_out,69,67,0,0,0,0,0,0,0,0,...,284,393,312,274,156,107,86,38,0,0
112_in,0,0,0,0,0,0,0,0,0,0,...,1,2,1,1,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631_out,0,0,0,0,0,0,0,0,0,0,...,0,9,14,0,5,0,0,0,0,0
1632_in,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1632_out,0,0,0,0,0,0,0,0,0,0,...,12,9,1,8,7,1,0,0,0,0
1633_in,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1633_out,0,0,0,0,0,0,0,0,0,0,...,16,0,12,1,6,3,0,0,0,0

In [6]:
data.iloc[204].dtype

dtype('O')

In [7]:
data_demo=pd.DataFrame()

In [8]:
#作入站与出站差
for i in range(204,224,2):
    data_demo[i]=data.iloc[i].astype("int")-data.iloc[i+1].astype("int")
data_demo=data_demo.T
data_demo

,0,1,2,3,4,5,6,7,8,9,...,134,135,136,137,138,139,140,141,142,143
204,0,0,0,0,0,0,0,0,0,0,...,-20,-9,0,0,0,0,0,0,0,0
206,0,0,0,0,0,0,0,0,0,0,...,-16,-12,0,0,0,0,0,0,0,0
208,0,0,0,0,0,0,0,0,0,0,...,-41,-43,0,0,0,0,0,0,0,0
210,0,0,0,0,0,0,0,0,0,0,...,-39,-25,-14,0,0,0,0,0,0,0
212,0,0,0,0,0,0,0,0,0,0,...,-16,-36,-15,0,0,0,0,0,0,0
214,0,0,0,0,0,0,0,0,0,0,...,-53,-48,-75,-1,0,0,0,0,0,0
216,0,0,0,0,0,0,0,0,0,0,...,-21,-35,-34,0,0,0,0,0,0,0
218,0,0,0,0,0,0,0,0,0,0,...,-29,-35,-22,-5,0,0,0,0,0,0
220,0,0,0,0,0,0,0,0,0,0,...,-10,-2,-4,0,0,0,0,0,0,0
222,0,0,0,0,0,0,0,0,0,0,...,-17,-29,-13,-21,0,0,0,0,0,0

In [9]:
data_demo.index=['502','503','505','507','508','509','510','511','512','513']

In [10]:
data_demo.columns=data.iloc[0]

In [11]:
data_demo.iloc[:,30:40]

startTime,2015-04-07 05:00:00,2015-04-07 05:10:00,2015-04-07 05:20:00,2015-04-07 05:30:00,2015-04-07 05:40:00,2015-04-07 05:50:00,2015-04-07 06:00:00,2015-04-07 06:10:00,2015-04-07 06:20:00,2015-04-07 06:30:00
502,0,0,0,0,1,2,9,20,23,35
503,0,0,0,0,-1,5,2,26,39,61
505,0,0,-1,0,0,11,39,55,60,159
507,0,0,0,0,-1,12,51,112,72,160
508,0,0,0,0,0,15,26,42,34,94
509,0,0,0,0,-1,39,98,64,134,127
510,0,0,0,0,0,50,87,136,122,138
511,0,0,0,0,11,58,95,73,99,141
512,0,0,0,0,4,9,3,6,0,-4
513,0,0,0,0,16,64,20,45,43,48

In [12]:
data_demo2=pd.DataFrame()

In [13]:
data_demo.columns

Index(['2015-04-07 00:00:00', '2015-04-07 00:10:00', '2015-04-07 00:20:00',
       '2015-04-07 00:30:00', '2015-04-07 00:40:00', '2015-04-07 00:50:00',
       '2015-04-07 01:00:00', '2015-04-07 01:10:00', '2015-04-07 01:20:00',
       '2015-04-07 01:30:00',
       ...
       '2015-04-07 22:20:00', '2015-04-07 22:30:00', '2015-04-07 22:40:00',
       '2015-04-07 22:50:00', '2015-04-07 23:00:00', '2015-04-07 23:10:00',
       '2015-04-07 23:20:00', '2015-04-07 23:30:00', '2015-04-07 23:40:00',
       '2015-04-07 23:50:00'],
      dtype='object', name='startTime', length=144)

In [14]:
data_demo=data_demo.T

In [15]:
for i in range(0,144,3):
    data_demo2[i]=data_demo.iloc[i+2]+data_demo.iloc[i+1]+data_demo.iloc[i]

In [16]:
data_demo2=data_demo2.T
data_demo2

     502  503  505  507  508  509   510  511  512  513
0      0    0    0    0    0    0     0    0    0    0
3      0    0    0    0    0    0     0    0    0    0
6      0    0    0    0    0    0     0    0    0    0
9      0    0    0    0    0    0     0    0    0    0
12     0    0    0    0    0    0     0    0    0    0
15     0    0    0    0    0    0     0    0    0    0
18     0    0    0    0    0    0     0    0    0    0
21     0    0    0    0    0    0     0    0    0    0
24     0    0    0    0    0    0     0    0    0    0
27     0    0    0    0    0    0     0    0    0    0
30     0    0   -1    0    0    0     0    0    0    0
33     3    4   11   11   15   38    50   69   13   80
36    52   67  154  235  102  296   345  267    9  108
39   138  183  504  546  305  538   489  479   -1  156
42   333  250  364  685  322  882   677  478  -76  218
45   521  123  236  840  312  868  1041  179 -236  107
48   330 -457  -39  535  130  579   752  283 -387 -103
51   157 -454 -130  303   31   59   310  185 -456 -206
54    92  -41   44  117   -2    6   190   54 -196  -56
57    81  -39   13   95  -37  -65    21    7  -97  -68
60     7   -2   37   68  -46  -47    -2   31  -28  -19
63    39    0   11   73  -13  -35    26    9  -24  -10
66    21    8    8   15  -42    9    25  -16  -16   28
69     3   33   28   38   -7  -14    25   58    7   34
72    -3   16   15   64  -33    8    57   71  -16   37
75   -11   -6  -10   70  -19    7    32   19    8   -1
78    -1  -14   16   34  -39   -2    33    7   -6   17
81     2  -10  -13   21  -48  -82    17    7    9    6
84    -6   16  -36   20  -36  -53     0   10    5    4
87    13   22   11  -19  -25  -60    -8  -19   21    2
90    16    6  -20   -5  -35  -13     8    1   22  -23
93    15   31  -26    4   10 -140   -62   69   28   -1
96    -7   39   45  -55   19  -59   -41   60   84  155
99    62  157  511  -42  -36    2    30  219  232  151
102  -33  393  171   13  -39   62  -202   50  566  125
105  -68  317  150    8  -86 -308  -362 -103  209   34
108 -183  109 -253 -372 -247 -333  -426 -276   42 -120
111 -314 -183 -640 -529 -341 -572  -411 -335   25 -152
114 -246 -240 -632 -530 -427 -663  -447 -356    7 -169
117 -185 -109 -347 -332 -328 -563  -348 -240  -17 -145
120  -71  -66 -194 -193 -149 -312  -122 -152   41  -82
123  -61  -25 -126 -125 -113 -183   -69 -106   -4  -91
126  -47  -23 -143 -114 -105 -213  -116  -68    3  -65
129  -31  -26 -108 -129 -102 -169   -90  -83  -13  -67
132  -46  -43 -159 -125  -92 -184   -84  -89  -14  -70
135   -9  -12  -43  -39  -51 -124   -69  -62   -6  -63
138    0    0    0    0    0    0     0    0    0    0
141    0    0    0    0    0    0     0    0    0    0

In [17]:
a=data_demo.index
a

Index(['2015-04-07 00:00:00', '2015-04-07 00:10:00', '2015-04-07 00:20:00',
       '2015-04-07 00:30:00', '2015-04-07 00:40:00', '2015-04-07 00:50:00',
       '2015-04-07 01:00:00', '2015-04-07 01:10:00', '2015-04-07 01:20:00',
       '2015-04-07 01:30:00',
       ...
       '2015-04-07 22:20:00', '2015-04-07 22:30:00', '2015-04-07 22:40:00',
       '2015-04-07 22:50:00', '2015-04-07 23:00:00', '2015-04-07 23:10:00',
       '2015-04-07 23:20:00', '2015-04-07 23:30:00', '2015-04-07 23:40:00',
       '2015-04-07 23:50:00'],
      dtype='object', name='startTime', length=144)

In [18]:
b=a[0:144:3]
b

Index(['2015-04-07 00:00:00', '2015-04-07 00:30:00', '2015-04-07 01:00:00',
       '2015-04-07 01:30:00', '2015-04-07 02:00:00', '2015-04-07 02:30:00',
       '2015-04-07 03:00:00', '2015-04-07 03:30:00', '2015-04-07 04:00:00',
       '2015-04-07 04:30:00', '2015-04-07 05:00:00', '2015-04-07 05:30:00',
       '2015-04-07 06:00:00', '2015-04-07 06:30:00', '2015-04-07 07:00:00',
       '2015-04-07 07:30:00', '2015-04-07 08:00:00', '2015-04-07 08:30:00',
       '2015-04-07 09:00:00', '2015-04-07 09:30:00', '2015-04-07 10:00:00',
       '2015-04-07 10:30:00', '2015-04-07 11:00:00', '2015-04-07 11:30:00',
       '2015-04-07 12:00:00', '2015-04-07 12:30:00', '2015-04-07 13:00:00',
       '2015-04-07 13:30:00', '2015-04-07 14:00:00', '2015-04-07 14:30:00',
       '2015-04-07 15:00:00', '2015-04-07 15:30:00', '2015-04-07 16:00:00',
       '2015-04-07 16:30:00', '2015-04-07 17:00:00', '2015-04-07 17:30:00',
       '2015-04-07 18:00:00', '2015-04-07 18:30:00', '2015-04-07 19:00:00',
       '2015-04-07 19:30:00', '2015-04-07 20:00:00', '2015-04-07 20:30:00',
       '2015-04-07 21:00:00', '2015-04-07 21:30:00', '2015-04-07 22:00:00',
       '2015-04-07 22:30:00', '2015-04-07 23:00:00', '2015-04-07 23:30:00'],
      dtype='object', name='startTime')

In [19]:
bb=list(b)
bb

['2015-04-07 00:00:00',
 '2015-04-07 00:30:00',
 '2015-04-07 01:00:00',
 '2015-04-07 01:30:00',
 '2015-04-07 02:00:00',
 '2015-04-07 02:30:00',
 '2015-04-07 03:00:00',
 '2015-04-07 03:30:00',
 '2015-04-07 04:00:00',
 '2015-04-07 04:30:00',
 '2015-04-07 05:00:00',
 '2015-04-07 05:30:00',
 '2015-04-07 06:00:00',
 '2015-04-07 06:30:00',
 '2015-04-07 07:00:00',
 '2015-04-07 07:30:00',
 '2015-04-07 08:00:00',
 '2015-04-07 08:30:00',
 '2015-04-07 09:00:00',
 '2015-04-07 09:30:00',
 '2015-04-07 10:00:00',
 '2015-04-07 10:30:00',
 '2015-04-07 11:00:00',
 '2015-04-07 11:30:00',
 '2015-04-07 12:00:00',
 '2015-04-07 12:30:00',
 '2015-04-07 13:00:00',
 '2015-04-07 13:30:00',
 '2015-04-07 14:00:00',
 '2015-04-07 14:30:00',
 '2015-04-07 15:00:00',
 '2015-04-07 15:30:00',
 '2015-04-07 16:00:00',
 '2015-04-07 16:30:00',
 '2015-04-07 17:00:00',
 '2015-04-07 17:30:00',
 '2015-04-07 18:00:00',
 '2015-04-07 18:30:00',
 '2015-04-07 19:00:00',
 '2015-04-07 19:30:00',
 '2015-04-07 20:00:00',
 '2015-04-07 20:30:00',
 '2015-04-07 21:00:00',
 '2015-04-07 21:30:00',
 '2015-04-07 22:00:00',
 '2015-04-07 22:30:00',
 '2015-04-07 23:00:00',
 '2015-04-07 23:30:00']

In [20]:
def cut(str):
    position=str.find(' ')
    str2=str[position+1:position+6]
    return str2

In [21]:
for i in range (0,len(bb)):
    bb[i]=cut(bb[i])

In [22]:
bb

['00:00',
 '00:30',
 '01:00',
 '01:30',
 '02:00',
 '02:30',
 '03:00',
 '03:30',
 '04:00',
 '04:30',
 '05:00',
 '05:30',
 '06:00',
 '06:30',
 '07:00',
 '07:30',
 '08:00',
 '08:30',
 '09:00',
 '09:30',
 '10:00',
 '10:30',
 '11:00',
 '11:30',
 '12:00',
 '12:30',
 '13:00',
 '13:30',
 '14:00',
 '14:30',
 '15:00',
 '15:30',
 '16:00',
 '16:30',
 '17:00',
 '17:30',
 '18:00',
 '18:30',
 '19:00',
 '19:30',
 '20:00',
 '20:30',
 '21:00',
 '21:30',
 '22:00',
 '22:30',
 '23:00',
 '23:30']

In [23]:
data_demo2=data_demo2.T

In [24]:
data_demo2.columns=bb
data_demo2

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
502,0,0,0,0,0,0,0,0,0,0,...,-246,-185,-71,-61,-47,-31,-46,-9,0,0
503,0,0,0,0,0,0,0,0,0,0,...,-240,-109,-66,-25,-23,-26,-43,-12,0,0
505,0,0,0,0,0,0,0,0,0,0,...,-632,-347,-194,-126,-143,-108,-159,-43,0,0
507,0,0,0,0,0,0,0,0,0,0,...,-530,-332,-193,-125,-114,-129,-125,-39,0,0
508,0,0,0,0,0,0,0,0,0,0,...,-427,-328,-149,-113,-105,-102,-92,-51,0,0
509,0,0,0,0,0,0,0,0,0,0,...,-663,-563,-312,-183,-213,-169,-184,-124,0,0
510,0,0,0,0,0,0,0,0,0,0,...,-447,-348,-122,-69,-116,-90,-84,-69,0,0
511,0,0,0,0,0,0,0,0,0,0,...,-356,-240,-152,-106,-68,-83,-89,-62,0,0
512,0,0,0,0,0,0,0,0,0,0,...,7,-17,41,-4,3,-13,-14,-6,0,0
513,0,0,0,0,0,0,0,0,0,0,...,-169,-145,-82,-91,-65,-67,-70,-63,0,0

In [25]:
filename=r'D:\repo\PythonLearning\PandasLearning\\Data\5lineSum.csv'
data_demo2.to_csv(filename)

In [26]:
#以下为计算一段时间内经过一个站点的列车班次数

In [27]:
def cut(data):
    position = data.find(' ')
    data2 = data[:position]+' 00:00:00'
    result = time.mktime(time.strptime(data, "%Y-%m-%d %H:%M:%S")) - \
        time.mktime(time.strptime(data2, "%Y-%m-%d %H:%M:%S"))
    return result

In [28]:
filename = r"D:\Data\AFC_客流数据\20150407_transfer.csv"
trip = pd.read_csv(filename)

In [29]:
data = trip[(trip['outLine'] == 5)&(trip['inLine']==5)]
data

,Unnamed: 0,userID,inTime,inLine,inStation,outTime,outLine,outStation
643,0,212799,2015-04-07 07:31:01,5,东川路,2015-04-07 07:47:28,5,文井路
702,0,234751,2015-04-07 06:58:12,5,北桥,2015-04-07 07:08:01,5,颛桥
703,0,234751,2015-04-07 16:56:00,5,颛桥,2015-04-07 17:00:47,5,北桥
801,0,274219,2015-04-07 17:34:06,5,颛桥,2015-04-07 17:47:19,5,东川路
1494,0,424074,2015-04-07 07:24:46,5,颛桥,2015-04-07 07:35:33,5,东川路
...,...,...,...,...,...,...,...,...
4287035,0,3950341442,2015-04-07 09:29:42,5,东川路,2015-04-07 09:44:56,5,颛桥
4287473,0,4000009640,2015-04-07 08:21:25,5,金平路,2015-04-07 08:32:09,5,北桥
4287474,0,4000009640,2015-04-07 17:11:46,5,颛桥,2015-04-07 17:24:00,5,金平路
4288015,0,4000022485,2015-04-07 05:58:46,5,金平路,2015-04-07 06:15:43,5,北桥
4288016,0,4000022485,2015-04-07 15:19:32,5,北桥,2015-04-07 15:33:34,5,金平路

In [30]:
data["transfered_inTime"] = data["inTime"].apply(
    lambda x: cut(x))
data["transfered_outTime"] = data["outTime"].apply(
    lambda x: cut(x))

D:\Application\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Application\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [31]:
data['inTime'] = pd.to_datetime(data['inTime'])
data['outTime'] = pd.to_datetime(data['outTime'])
data['dayName'] = data['inTime'].dt.dayofweek
data['dayName'] = data['outTime'].dt.dayofweek

D:\Application\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\Application\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Application\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Application\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [32]:
replace = {
    "莘庄":111,
"春申路":502,
"银都路":503,
"颛桥":505,
"北桥":507,
"剑川路":508,
"东川路":509,
"金平路":510,
"华宁路":511,
"文井路":512,
"闵行开发区":513}

In [33]:
data=data.replace(replace)

In [34]:
data_502 = data[(data['outStation'] == 502)]
data_502_down = data_502.sort_values(by=['transfered_outTime'], ascending=True)

In [35]:
data_502_down

,Unnamed: 0,userID,inTime,inLine,inStation,outTime,outLine,outStation,transfered_inTime,transfered_outTime,dayName
3952654,0,3102757858,2015-04-07 06:06:16,5,508,2015-04-07 06:26:13,5,502,21976.0,23173.0,1
247548,0,401808658,2015-04-07 06:06:11,5,509,2015-04-07 06:26:15,5,502,21971.0,23175.0,1
2407828,0,2602864890,2015-04-07 05:53:18,5,513,2015-04-07 06:26:17,5,502,21198.0,23177.0,1
2413960,0,2602939860,2015-04-07 06:00:09,5,510,2015-04-07 06:26:17,5,502,21609.0,23177.0,1
929673,0,2101824280,2015-04-07 05:52:50,5,511,2015-04-07 06:26:19,5,502,21170.0,23179.0,1
...,...,...,...,...,...,...,...,...,...,...,...
2938737,0,2802766396,2015-04-07 21:52:59,5,509,2015-04-07 22:13:31,5,502,78779.0,80011.0,1
3858997,0,3101632305,2015-04-07 22:04:22,5,508,2015-04-07 22:18:33,5,502,79462.0,80313.0,1
3313057,0,2903085608,2015-04-07 22:01:43,5,510,2015-04-07 22:24:18,5,502,79303.0,80658.0,1
662443,0,2003142728,2015-04-07 21:58:39,5,512,2015-04-07 22:24:44,5,502,79119.0,80684.0,1
1109402,0,2104053327,2015-04-07 22:04:40,5,503,2015-04-07 22:27:20,5,502,79480.0,80840.0,1

In [36]:
a = [23173.0]
n = len(data_502_down)
##前一个乘客的出站时间与当前乘客相差不超过K=【60、、、、】
##添加最早出站班次
for i in range(n-1):
    if data_502_down.iloc[i+1]['transfered_outTime'] - data_502_down.iloc[i]['transfered_outTime'] >60:
        a.append(data_502_down.iloc[i+1]['transfered_outTime'])

In [37]:
def transform_time(seconds):
# 得到总秒数
    #seconds = float(seconds)*60
    m, s = divmod(seconds, 60)
    h, m = divmod(m, 60)
    time = "%d:%02d:%02d" % (h, m, s)
    return time

In [38]:
b = []
for i in range(0,len(a)):
    b.append(transform_time(a[i]))

In [39]:
len(a)

195

In [40]:
len(bb)

48

In [41]:
init=[]
for i in range(48):
    init.append(0)
len(init)

48

In [42]:
t=0
i=0
for j in range(195):
    if (a[j]<=t+1800):
        init[i]+=1
    else:
        t+=1800
        i+=1
init

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 6,
 7,
 7,
 6,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 4,
 3,
 3,
 4,
 4,
 6,
 6,
 6,
 5,
 6,
 7,
 7,
 6,
 3,
 4,
 5,
 0,
 0,
 0]

In [43]:
len(init)==len(bb)

True

In [44]:
line_sum_dict=dict(zip(bb,init))
line_sum_dict

{'00:00': 0,
 '00:30': 0,
 '01:00': 0,
 '01:30': 0,
 '02:00': 0,
 '02:30': 0,
 '03:00': 0,
 '03:30': 0,
 '04:00': 0,
 '04:30': 0,
 '05:00': 0,
 '05:30': 0,
 '06:00': 0,
 '06:30': 0,
 '07:00': 2,
 '07:30': 6,
 '08:00': 7,
 '08:30': 7,
 '09:00': 6,
 '09:30': 5,
 '10:00': 4,
 '10:30': 4,
 '11:00': 4,
 '11:30': 4,
 '12:00': 4,
 '12:30': 4,
 '13:00': 5,
 '13:30': 5,
 '14:00': 5,
 '14:30': 4,
 '15:00': 3,
 '15:30': 3,
 '16:00': 4,
 '16:30': 4,
 '17:00': 6,
 '17:30': 6,
 '18:00': 6,
 '18:30': 5,
 '19:00': 6,
 '19:30': 7,
 '20:00': 7,
 '20:30': 6,
 '21:00': 3,
 '21:30': 4,
 '22:00': 5,
 '22:30': 0,
 '23:00': 0,
 '23:30': 0}

In [45]:
line_sum_ser=pd.Series(line_sum_dict)
line_sum_ser

00:00    0
00:30    0
01:00    0
01:30    0
02:00    0
02:30    0
03:00    0
03:30    0
04:00    0
04:30    0
05:00    0
05:30    0
06:00    0
06:30    0
07:00    2
07:30    6
08:00    7
08:30    7
09:00    6
09:30    5
10:00    4
10:30    4
11:00    4
11:30    4
12:00    4
12:30    4
13:00    5
13:30    5
14:00    5
14:30    4
15:00    3
15:30    3
16:00    4
16:30    4
17:00    6
17:30    6
18:00    6
18:30    5
19:00    6
19:30    7
20:00    7
20:30    6
21:00    3
21:30    4
22:00    5
22:30    0
23:00    0
23:30    0
dtype: int64

In [46]:
line_sum=pd.DataFrame(line_sum_ser,columns=['shifts'])
line_sum=line_sum.T
line_sum

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
shifts,0,0,0,0,0,0,0,0,0,0,...,6,7,7,6,3,4,5,0,0,0

In [47]:
result=data_demo2
result

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
502,0,0,0,0,0,0,0,0,0,0,...,-246,-185,-71,-61,-47,-31,-46,-9,0,0
503,0,0,0,0,0,0,0,0,0,0,...,-240,-109,-66,-25,-23,-26,-43,-12,0,0
505,0,0,0,0,0,0,0,0,0,0,...,-632,-347,-194,-126,-143,-108,-159,-43,0,0
507,0,0,0,0,0,0,0,0,0,0,...,-530,-332,-193,-125,-114,-129,-125,-39,0,0
508,0,0,0,0,0,0,0,0,0,0,...,-427,-328,-149,-113,-105,-102,-92,-51,0,0
509,0,0,0,0,0,0,0,0,0,0,...,-663,-563,-312,-183,-213,-169,-184,-124,0,0
510,0,0,0,0,0,0,0,0,0,0,...,-447,-348,-122,-69,-116,-90,-84,-69,0,0
511,0,0,0,0,0,0,0,0,0,0,...,-356,-240,-152,-106,-68,-83,-89,-62,0,0
512,0,0,0,0,0,0,0,0,0,0,...,7,-17,41,-4,3,-13,-14,-6,0,0
513,0,0,0,0,0,0,0,0,0,0,...,-169,-145,-82,-91,-65,-67,-70,-63,0,0

In [48]:
len(data_demo2.columns)

48

In [49]:
#for i in range(48)
data_demo2.iloc[:,[0]]=data_demo2.iloc[:,[0]]

In [50]:
data_demo2

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
502,0,0,0,0,0,0,0,0,0,0,...,-246,-185,-71,-61,-47,-31,-46,-9,0,0
503,0,0,0,0,0,0,0,0,0,0,...,-240,-109,-66,-25,-23,-26,-43,-12,0,0
505,0,0,0,0,0,0,0,0,0,0,...,-632,-347,-194,-126,-143,-108,-159,-43,0,0
507,0,0,0,0,0,0,0,0,0,0,...,-530,-332,-193,-125,-114,-129,-125,-39,0,0
508,0,0,0,0,0,0,0,0,0,0,...,-427,-328,-149,-113,-105,-102,-92,-51,0,0
509,0,0,0,0,0,0,0,0,0,0,...,-663,-563,-312,-183,-213,-169,-184,-124,0,0
510,0,0,0,0,0,0,0,0,0,0,...,-447,-348,-122,-69,-116,-90,-84,-69,0,0
511,0,0,0,0,0,0,0,0,0,0,...,-356,-240,-152,-106,-68,-83,-89,-62,0,0
512,0,0,0,0,0,0,0,0,0,0,...,7,-17,41,-4,3,-13,-14,-6,0,0
513,0,0,0,0,0,0,0,0,0,0,...,-169,-145,-82,-91,-65,-67,-70,-63,0,0

In [51]:
for i in range(48):
    data_demo2.iloc[:,[i]]=data_demo2.iloc[:,[i]]/line_sum.T['shifts']/1170

In [52]:
data_demo2

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.035043,-0.022589,-0.008669,-0.008689,-0.013390,-0.006624,-0.007863,-inf,NaN,NaN
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.034188,-0.013309,-0.008059,-0.003561,-0.006553,-0.005556,-0.007350,-inf,NaN,NaN
505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.090028,-0.042369,-0.023687,-0.017949,-0.040741,-0.023077,-0.027179,-inf,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.075499,-0.040537,-0.023565,-0.017806,-0.032479,-0.027564,-0.021368,-inf,NaN,NaN
508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.060826,-0.040049,-0.018193,-0.016097,-0.029915,-0.021795,-0.015726,-inf,NaN,NaN
509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.094444,-0.068742,-0.038095,-0.026068,-0.060684,-0.036111,-0.031453,-inf,NaN,NaN
510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.063675,-0.042491,-0.014896,-0.009829,-0.033048,-0.019231,-0.014359,-inf,NaN,NaN
511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.050712,-0.029304,-0.018559,-0.015100,-0.019373,-0.017735,-0.015214,-inf,NaN,NaN
512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000997,-0.002076,0.005006,-0.000570,0.000855,-0.002778,-0.002393,-inf,NaN,NaN
513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.024074,-0.017705,-0.010012,-0.012963,-0.018519,-0.014316,-0.011966,-inf,NaN,NaN

In [53]:
data_demo2=data_demo2.replace([np.inf, -np.inf], np.nan)
data_demo2=data_demo2.fillna(value=0).abs()
data_demo2

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.035043,0.022589,0.008669,0.008689,0.013390,0.006624,0.007863,0.0,0.0,0.0
503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034188,0.013309,0.008059,0.003561,0.006553,0.005556,0.007350,0.0,0.0,0.0
505,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.090028,0.042369,0.023687,0.017949,0.040741,0.023077,0.027179,0.0,0.0,0.0
507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.075499,0.040537,0.023565,0.017806,0.032479,0.027564,0.021368,0.0,0.0,0.0
508,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.060826,0.040049,0.018193,0.016097,0.029915,0.021795,0.015726,0.0,0.0,0.0
509,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.094444,0.068742,0.038095,0.026068,0.060684,0.036111,0.031453,0.0,0.0,0.0
510,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.063675,0.042491,0.014896,0.009829,0.033048,0.019231,0.014359,0.0,0.0,0.0
511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.050712,0.029304,0.018559,0.015100,0.019373,0.017735,0.015214,0.0,0.0,0.0
512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000997,0.002076,0.005006,0.000570,0.000855,0.002778,0.002393,0.0,0.0,0.0
513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.024074,0.017705,0.010012,0.012963,0.018519,0.014316,0.011966,0.0,0.0,0.0

In [54]:
def GetPer(x):
    if(x!=0.0):
        return '%.2f%%'  %  (x*100)
    else:
        return '0'

In [55]:
result=data_demo2.applymap(GetPer)
result

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
502,0,0,0,0,0,0,0,0,0,0,...,3.50%,2.26%,0.87%,0.87%,1.34%,0.66%,0.79%,0,0,0
503,0,0,0,0,0,0,0,0,0,0,...,3.42%,1.33%,0.81%,0.36%,0.66%,0.56%,0.74%,0,0,0
505,0,0,0,0,0,0,0,0,0,0,...,9.00%,4.24%,2.37%,1.79%,4.07%,2.31%,2.72%,0,0,0
507,0,0,0,0,0,0,0,0,0,0,...,7.55%,4.05%,2.36%,1.78%,3.25%,2.76%,2.14%,0,0,0
508,0,0,0,0,0,0,0,0,0,0,...,6.08%,4.00%,1.82%,1.61%,2.99%,2.18%,1.57%,0,0,0
509,0,0,0,0,0,0,0,0,0,0,...,9.44%,6.87%,3.81%,2.61%,6.07%,3.61%,3.15%,0,0,0
510,0,0,0,0,0,0,0,0,0,0,...,6.37%,4.25%,1.49%,0.98%,3.30%,1.92%,1.44%,0,0,0
511,0,0,0,0,0,0,0,0,0,0,...,5.07%,2.93%,1.86%,1.51%,1.94%,1.77%,1.52%,0,0,0
512,0,0,0,0,0,0,0,0,0,0,...,0.10%,0.21%,0.50%,0.06%,0.09%,0.28%,0.24%,0,0,0
513,0,0,0,0,0,0,0,0,0,0,...,2.41%,1.77%,1.00%,1.30%,1.85%,1.43%,1.20%,0,0,0

In [56]:
result.iloc[:,10:40]

,05:00,05:30,06:00,06:30,07:00,07:30,08:00,08:30,09:00,09:30,...,15:00,15:30,16:00,16:30,17:00,17:30,18:00,18:30,19:00,19:30
502,0,0,0,0,14.23%,7.42%,4.03%,1.92%,1.31%,1.38%,...,0.46%,0.43%,0.15%,1.32%,0.47%,0.97%,2.61%,5.37%,3.50%,2.26%
503,0,0,0,0,10.68%,1.75%,5.58%,5.54%,0.58%,0.67%,...,0.17%,0.88%,0.83%,3.35%,5.60%,4.52%,1.55%,3.13%,3.42%,1.33%
505,0,0,0,0,15.56%,3.36%,0.48%,1.59%,0.63%,0.22%,...,0.57%,0.74%,0.96%,10.92%,2.44%,2.14%,3.60%,10.94%,9.00%,4.24%
507,0,0,0,0,29.27%,11.97%,6.53%,3.70%,1.67%,1.62%,...,0.14%,0.11%,1.18%,0.90%,0.19%,0.11%,5.30%,9.04%,7.55%,4.05%
508,0,0,0,0,13.76%,4.44%,1.59%,0.38%,0.03%,0.63%,...,1.00%,0.28%,0.41%,0.77%,0.56%,1.23%,3.52%,5.83%,6.08%,4.00%
509,0,0,0,0,37.69%,12.36%,7.07%,0.72%,0.09%,1.11%,...,0.37%,3.99%,1.26%,0.04%,0.88%,4.39%,4.74%,9.78%,9.44%,6.87%
510,0,0,0,0,28.93%,14.83%,9.18%,3.79%,2.71%,0.36%,...,0.23%,1.77%,0.88%,0.64%,2.88%,5.16%,6.07%,7.03%,6.37%,4.25%
511,0,0,0,0,20.43%,2.55%,3.46%,2.26%,0.77%,0.12%,...,0.03%,1.97%,1.28%,4.68%,0.71%,1.47%,3.93%,5.73%,5.07%,2.93%
512,0,0,0,0,3.25%,3.36%,4.73%,5.57%,2.79%,1.66%,...,0.63%,0.80%,1.79%,4.96%,8.06%,2.98%,0.60%,0.43%,0.10%,0.21%
513,0,0,0,0,9.32%,1.52%,1.26%,2.52%,0.80%,1.16%,...,0.66%,0.03%,3.31%,3.23%,1.78%,0.48%,1.71%,2.60%,2.41%,1.77%

In [57]:
filename=r'D:\repo\PythonLearning\PandasLearning\Data\满载率简单计算.csv'
result.to_csv(filename)